body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    background-color: white;
    color: black;
}

h1 {
    font-size: 2em;
    margin: 40px 50px;
}

h2 {
    font-size: 1.5em;
    margin: 30px 0px 10px 50px;
}

p {
    font-size: 1em;
    margin: 20px 50px;
}

.nav-bar {
    background: black;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
}

li {
    display: inline;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    margin: 0px 50px;
}

li a {
    text-decoration: none;
    color: white;
}

.logo {
    margin-top: 10px;
}

.intro {
    display: flex;
    justify-content: space-between;
    margin: 10px 50px;
}

.intro>a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p>a {
    color: red;
    text-decoration: none;
}

p>a:hover {
    text-decoration: underline;
}

.nav-end {
    background-color: black;
    color: white;
    padding-bottom: 100px;
}

.lang {
    margin-left: 30px;
    padding: 20px;
}

.end {
    display: flex;
    float: right;
}

.access {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
}

.sub {
    background-color: black;
    color: white;
    border: solid 1px white;
    padding: 10px;
    display: inline-block;
}


/*.assistence {
    display: inline-block;
}*/