    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;
    }
    
    body {
        background-color: #000000;
    }
    
    .container .head {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 50px;
        z-index: 1000000;
    }
    
    .container .head img {
        width: 15%;
    }
    
    .container .right .language {
        margin: auto;
        font-size: 18px;
        padding: 7px 10px;
        color: #d6cdcd;
        background: none;
        margin-right: 15px;
    }
    
    .container .right a {
        color: #ffffff;
        text-decoration: none;
        background-color: #e50914;
        padding: 8px 18px;
        border-radius: 5px;
    }
    
    .banner {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .banner .fit {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    
    .banner .box {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }
    
    .banner .box .heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .banner .box .heading h2 {
        font-size: 3.125rem;
        color: #ffffff;
        letter-spacing: 2px;
        width: 80%;
    }
    
    .banner .box .heading h5 {
        font-size: 1.625rem;
        color: #ffffff;
        font-weight: 400;
        padding: 1rem 0;
    }
    
    .banner .box .heading p {
        font-size: 20px;
        color: #ffffff;
        font-weight: 500;
        padding: 15px 0;
        padding-bottom: 20px;
    }
    
    .banner .box .search {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .banner .box .search input {
        font-size: 16px;
        border: 1px solid #8c8c8c;
        outline: none;
        color: #00000000;
        border-radius: 2px;
        padding: 10px 10px 0 0;
        width: 400px;
        height: 60px;
        align-items: center;
    }
    
    .banner .box .search a {
        text-decoration: none;
        color: #ffffff;
        font-weight: 400;
        letter-spacing: 0.1px;
        border-radius: 2px;
        background: #e50914;
        font-size: 1.625rem;
        line-height: 60px;
        min-width: 100px;
        padding: 0 26px;
    }
    
    .part1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 4rem;
        border-bottom: 0.6rem solid #111;
    }
    
    .part1 .text1 {
        width: 40%;
    }
    
    .part1 .text1 h1 {
        font-size: 3.3rem;
        letter-spacing: 2px;
        padding-bottom: 10px;
        color: #ffffff;
    }
    
    .part1 .text1 p {
        font-size: 1.7rem;
        color: #ffffff;
    }
    
    .part1 .img1 {
        width: 45%;
    }
    
    .part1 .img1 img {
        width: 100%;
    }
    
    .part2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 4rem;
        border-bottom: 0.6rem solid #111;
    }
    
    .part2 .text2 {
        width: 48%;
    }
    
    .part2 .text2 h1 {
        font-size: 3.3rem;
        letter-spacing: 2px;
        padding-bottom: 10px;
        color: #ffffff;
    }
    
    .part2 .text2 p {
        font-size: 1.7rem;
        color: #ffffff;
    }
    
    .part2 .img2 {
        width: 45%;
    }
    
    .part2 .img2 img {
        width: 100%;
    }
    
    .part3 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 4rem;
        border-bottom: 0.6rem solid #111;
    }
    
    .part3 .text3 {
        width: 48%;
    }
    
    .part3 .text3 h1 {
        font-size: 3.3rem;
        letter-spacing: 2px;
        padding-bottom: 10px;
        color: #ffffff;
    }
    
    .part3 .text3 p {
        font-size: 1.7rem;
        color: #ffffff;
    }
    
    .part3 .img3 {
        width: 45%;
    }
    
    .part3 .img3 img {
        width: 100%;
    }
    
    .part4 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 4rem;
        border-bottom: 0.6rem solid #111;
    }
    
    .part4 .text4 {
        width: 48%;
    }
    
    .part4 .text4 h1 {
        font-size: 3.3rem;
        letter-spacing: 2px;
        padding-bottom: 10px;
        color: #ffffff;
    }
    
    .part4 .text4 p {
        font-size: 1.7rem;
        color: #ffffff;
    }
    
    .part4 .img4 {
        width: 45%;
    }
    
    .part4 .img4 img {
        width: 100%;
    }
    
    .list {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    
    .list h1 {
        color: #ffffff;
        font-size: 3rem;
        padding: 3rem 0 4rem 0;
    }
    
    .title {
        background: #303030;
        padding: 20px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #ffffff;
        font-size: 1.7rem;
        font-weight: 400;
        text-decoration: none;
    }
    
    .icon {
        width: 20px;
        position: relative;
    }
    
    .icon::before,
    .icon::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 3px;
        background: #ffffff;
        top: -1.5px;
    }
    
    .icon::after {
        transform: rotate(90deg);
        transition: 0.5s linear;
    }
    
    .text {
        background: #303030;
        line-height: 35px;
        margin: 3px 0;
        color: #ffffff;
        font-size: 1.7rem;
        font-weight: 400;
        height: 0;
        opacity: 0;
    }
    
    .item:target .text {
        opacity: 1;
        height: auto;
        padding: 20px 30px;
        margin: 0;
        border-top: 2px solid #00000000;
        margin-bottom: 6px;
    }
    
    .item:target .icon::after {
        transform: rotateY(90deg);
    }
    
    //
    .banner2 {
        border-bottom: 0.6rem solid #111;
    }
    
    .banner2 .box {
        margin: 4rem 0;
    }
    
    .banner2 .box .heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .banner2 .box .heading h2 {
        font-size: 3.125rem;
        color: #ffffff;
        letter-spacing: 2px;
        width: 80%;
    }
    
    .banner2 .box .heading h5 {
        font-size: 1.625rem;
        color: #ffffff;
        font-weight: 400;
        padding: 1rem 0;
    }
    
    .banner2 .box .heading p {
        font-size: 20px;
        color: #ffffff;
        font-weight: 500;
        padding: 15px 0;
        padding-bottom: 20px;
    }
    
    .banner2 .box .search {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
        border-bottom: 0.6rem solid #111;
    }
    
    .banner2 .box .search input {
        font-size: 16px;
        border: 1px solid #8c8c8c;
        outline: none;
        color: #00000000;
        border-radius: 2px;
        padding: 10px 10px 0 0;
        width: 400px;
        height: 60px;
        align-items: center;
    }
    
    .banner2 .box .search a {
        text-decoration: none;
        color: #ffffff;
        font-weight: 400;
        letter-spacing: 0.1px;
        border-radius: 2px;
        background: #e50914;
        font-size: 1.625rem;
        line-height: 60px;
        min-width: 100px;
        padding: 0 26px;
    }
    
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        padding: 4rem 0;
    }
    
    .footer .one {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        width: 25%;
    }
    
    .footer .one li {
        padding: 7px 0;
    }
    
    .footer .one li a {
        color: #ccc;
        text-decoration: none;
    }
    
    .footer .one li a:hover {
        border-bottom: 1px solid #ccc;
    }
    
    .last-footer .footer-right {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
    
    .last-footer .footer-right .language {
        margin: auto;
        font-size: 18px;
        padding: 12px 26px 12px 50px;
        color: #d6cdcd;
        background: none;
        margin-left: 180px;
        margin-bottom: 40px;
    }
    
    .last-footer .footer-right p {
        font-size: 15px;
        color: #ffffff;
        margin-bottom: 20px;
        margin-left: 180px;
    }